body{
	background: url(../images/funky-lines.png);
	margin:0 auto;

}



.images{
	padding:5%;
	margin:0 auto;
	border-style: solid;
	border-color:blue;
	border-width: 5px;
	float: left;
	
	display: inline-block;
	height:50vh;
	width: 50vh;


	

}

img{
		width:100%;
	}